context debug
  trigger quit
    keyboard           escape
  trigger console
    keyboard           f9
  trigger frame_rate_meter
    keyboard           f10
  trigger pdb
    keyboard           f11
  trigger pstats
    keyboard           f12
context camera_movement
  axis2d rotation
    gamepad            right_x:deadzone=0.02 right_y:deadzone=0.02
    spatial_mouse      yaw:scale=3.0 pitch:scale=3.0
    keyboard           l j i k