context debug
  trigger quit
    keyboard           escape
  trigger console
    keyboard           f9
  trigger frame_rate_meter
    keyboard           f10
  trigger pdb
    keyboard           f11
  trigger pstats
    keyboard           f12
context character_movement
  axis2d direction
    gamepad            left_x:deadzone=0.05 left_y:deadzone=0.05
    keyboard           a d s w
  axis2d rotation
    gamepad            dpad_left dpad_right dpad_down dpad_up
    keyboard           q e f r
  trigger jump
    gamepad            face_a
    keyboard           space
context camera_movement
  axis2d rotation
    gamepad            right_x:deadzone=0.02:flip right_y:deadzone=0.02:flip
    spatial_mouse      yaw:scale=3.0 pitch:scale=3.0
    keyboard           l j i k